body {
    background-image: url("https://cdn.wallpapersafari.com/70/24/imroKe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.login {
    margin: 50px
}

#main {
    margin-top: 100px;
}

.username{
    color: white;
    margin-right: 10px;
}

/* home */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


 /* pets */ 
.pet {
    margin: 50px;
}

.pet-view {
    display: flex;
    flex-direction: column;
}

.pet-title {
    text-align: center;
}

#pet-disp {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
    margin: 50px;
}

